.aside {
	transition: all 0.2s ease 0s;
	position: absolute;
	top: 44px;
	bottom: 0;
	left: 0;
	padding-top: 10px;
	width: 199px;
	z-index: 99;
	overflow: auto;
	background-color: rgba(238,238,238,0.98);
	border-right: 1px solid #E5E5E5;
	display: block;
	margin: 0;
	padding: 0;
}
.menu_dropdown dl{
	font-size:14px;
	color:#333;
	margin-left: 20px;
	margin-bottom: 0;
	list-style-type: none;
}
.menu_dropdown dl dt{
	display: block;
	line-height: 35px;
	padding-left: 15px;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #E5E5E5;
	list-style-type: none;
}
.menu_dropdown dl dd{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu_dropdown dl dd ul{
	padding: 3px 8px;
	margin: 0;
	list-style-type: none;
	display: block;
}
.menu_dropdown dl dd ul li{
	line-height: 32px;
	overflow: hidden;
	zoom:1;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.menu_dropdown dl dd ul li a{
	line-height: 32px;
	padding-left: 26px;
	border-bottom: none;
	color: #666;
	display: block;
	text-decoration: none;
	cursor: pointer;
}